/* styles.css */

/* Réinitialisation des styles de base */
body,
h1,
p,
a,
button,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilisation de variables pour les styles réutilisables */
:root {
    --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --main-text-color: #020b11;
    --background-color: #f6fbfe;
    --card-color: #ebf0f3;
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --button-background: #1a1a1a;
    --button-border-color: transparent;
}

/* Styles de base pour les éléments HTML communs */
body {
    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: var(--font-weight-normal);
    color: var(--main-text-color);
    margin: auto;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding-left: 40px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: var(--font-weight-bold);
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: var(--link-hover-color);
}

button, .button-link {
    border-radius: 8px;
    border: 1px solid var(--button-border-color);
    margin: 1em;
    padding: 0.6em 1.2em;
    max-width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: var(--button-background);
    cursor: pointer;
    transition: border-color 0.25s;
    outline: none;
}

button:hover, .button-link:hover {
    border-color: var(--link-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Styles pour le mode clair */
@media (prefers-color-scheme: light) {
    :root {
        --main-text-color: #213547;
        --background-color: #ffffff;
        --link-hover-color: #747bff;
        --button-background: #c9b756;
    }
}